* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  padding: 0;
  margin: 0
}

#notfound {
  position: relative;
  height: 100vh
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.notfound {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4
}

.notfound .notfound-404 {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0 auto 50px
}

.notfound .notfound-404 h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
  font-weight: 600;
  margin: 0;
  font-size: 70px;
  position: absolute;
  left: 50%;
  top: 105%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 40px
}

.notfound h2 {
  font-family: cabin, sans-serif;
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px
}

.notfound-404 img {
  width: 250px;
  position: absolute;
  left: -50px;
  top: -40px;
  z-index: 2;
}